/*
 * Default Bootstrap overrides
 */

// Layout Settings
$sidebar-width: 260px;
$topbar-height: 60px;

// Custom Colors
$purple-dark: #62348C;
$purple-light: #805AA4;

// Color Overrides
$primary: $purple-light;

// Table Overrides
$table-bg-scale: 0%;